/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
@tailwind preflight;

/**
   * This injects any component classes registered by plugins.
   *
   * If using `postcss-import`, use this import instead:
   *
   * @import "tailwindcss/components";
   */
@tailwind components;

/**
   * Here you would add any of your custom component classes; stuff that you'd
   * want loaded *before* the utilities so that the utilities could still
   * override them.
   *
   * Example:
   *
   * .btn { ... }
   * .form-input { ... }
   *
   * Or if using a preprocessor or `postcss-import`:
   *
   * @import "components/buttons";
   * @import "components/forms";
   */

/**
   * This injects all of Tailwind's utility classes, generated based on your
   * config file.
   *
   * If using `postcss-import`, use this import instead:
   *
   * @import "tailwindcss/utilities";
   */
@tailwind utilities;

/**
   * Here you would add any custom utilities you need that don't come out of the
   * box with Tailwind.
   *
   * Example :
   *
   * .bg-pattern-graph-paper { ... }
   * .skew-45 { ... }
   *
   * Or if using a preprocessor or `postcss-import`:
   *
   * @import "utilities/background-patterns";
   * @import "utilities/skew-transforms";
   */

/*=============================================
*******           CUSTOM CSS            *******
=============================================*/
/* purgecss start ignore */
body {
  @apply overflow-hidden;
}

.font-source-sans {
  font-family: "Source Sans Pro", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Helvetica Neue", Arial;
}

/* CHECKBOX TOGGLE SWITCH */
.form-switch {
  @apply relative select-none w-12 mr-2;
}
.form-switch-checkbox {
  @apply hidden;
}
.form-switch-label {
  @apply block overflow-hidden cursor-pointer bg-white rounded-full h-6 shadow-inner;

  transition: background-color 0.2s ease-in;
}
.form-switch-label:before {
  @apply absolute block bg-white pin-y w-6 rounded-full -ml-1 shadow;

  right: 50%;
  margin-top: 3px;
  margin-bottom: 3px;
  content: "";
  transition: all 0.2s ease-in;
}
.form-switch-checkbox:checked + .form-switch-label {
  @apply bg-green-light shadow-none;
}
.form-switch-checkbox:not(:checked) + .form-switch-label:before {
  left: 7px;
}
.form-switch-checkbox:checked + .form-switch-label:before {
  @apply pin-r;

  margin-right: 3px;
}

/* TIMELINE SLIDER */
.rc-slider-mark {
  display: none !important;
}
.rc-slider-tooltip {
  z-index: 10;
}
.rc-slider-tooltip-inner {
  padding: 6px 8px !important;
  margin-left: -12px !important;
  height: 36px !important;
  background-color: rgba(41, 67, 88, 0.8) !important;
}
.rc-slider-tooltip-inner span {
  color: #8f9aa5;
}
.rc-slider-tooltip-arrow {
  border-top-color: rgba(41, 67, 88, 0.8) !important;
}
.rc-slider.rc-slider-with-marks {
  padding: 0;
}
.rc-slider-track {
  border-radius: 0.25rem 0 0 0 !important;
}
.rc-slider-rail {
  border-radius: 0.25rem 0.25rem 0 0 !important;
}
.rc-slider-handle:focus {
  border: none !important;
  box-shadow: none !important;
}

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  margin: 0 0 4px 1rem !important;
}

.logo-wrapper {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.logo-wrapper:hover {
  -webkit-filter: none;
  filter: none;
}
.logo-wrapper > div > a img:hover {
  transform: scale(1.05);
}

/* purgecss end ignore */
